@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
    background-color: rgb(172, 96, 96);
    background-image: black;
    color: rgb(255, 255, 255);
    transition:all .3s ease-in;
}
