@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.dark{
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    /* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
    /* background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
     */
     background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);

    color: rgb(255, 255, 255);
    transition:all .3s ease-in;
}

.darktext{
    color: black;
}
